body {
    font-family: sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    background-image: url(fondo/fondo.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #333;
}

h1 {
    margin-top: 20px;
    font-size: 2rem;
    color: #444;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    margin-top: 20px;
    background-color: #00a6ff;
    color: white;
    border: none;
    border-radius: 5px;
}

button:hover {
    background-color: #008cb3;
}

